/* Charset = "utf-8" CSS DOCUMENT */
body {
    margin: 0px;
    padding: 0px;
    background-image: url(../AussinOZ/images/bg2.png);
    background-attachment: fixed;
    background-size: cover;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.navigation-container {
    width: 100%;
    height: 60px;
    background-color: #ea272d;
    box-shadow: 2.5px 2.5px 12px rgba(0, 0, 0, 0.20);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
}

.navigation-content {
    width: 100%;
    max-width: 1200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 12%;
}

.logo img {
    width: 89px;
    height: auto;
}

.menu ul {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.menu ul li {
    margin: 0 15px;
}

.menu ul li a {
    font-family: Calibri;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 3px solid #000;
    padding-left: 10px; /* Adjust padding-left to create space between text and border */
    margin-left: 10px; /* Optional: Adjust margin-left for additional space between items */
}


.cart {
    display: flex;
    align-items: center;
    font-family: Calibri;
    font-weight: bold;
}

.cart img {
    height: 30px;
    margin-right: 10px;
    margin: 0px 10px;
}

.whats-new {
    display: flex;
    justify-content: center;
    margin: auto;
}

.whats-new img {
    width: 580px;
    height: 180px;
    margin-top:  50px;
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.new {
    width: 550px;
    height: 320px;
    margin: 10px;
    background-image: url(../AussinOZ/images/new.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.new p {
    color: #FFFFFF;
    line-height: 50px;
    padding: 0px;
    margin: 0px;
}

.new p:nth-child(1) {
    font-size: 40px;
    font-family: Calibri;
    font-weight: bold;
}

.new p:nth-child(2) {
    font-size: 40px;
    font-family: Myriad Pro;
}

.new button {
    width: 120px;
    height: 35px;
    border-radius: 10px;
    background-color: #ea272d;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 16px;
    border: none;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    outline: none;
}

.search, .order {
    width: 540px;
    height: 150px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin: 10px;
}

.tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-row {
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order {
    background-image: url(../AussinOZ/images/order.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.search {
    background-image: url(../AussinOZ/images/find.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search p {
    color: #FFFFFF;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    line-height: 0px;
    text-shadow: 2px 2px 12px rgba(0,0,0,0.5);
}

.text {
    background-color: #f1f1f1;
    border-radius: 20px;
    width: 250px;
    height: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

.text input[type=search] {
    border: none;
    background-color: transparent;
    color: #000;
    align-items: center;
    outline: none;
}

.text button {
    height: 35px;
    width: 70px;
    border: none;
    color: #0b0bb0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    outline: none;
    border-radius: 0px 20px 20px 0px;
    border-left: 1px solid #cdcaca;
}

.order {
    display: flex;
    justify-content: center;
    align-items: center;
}

.order a {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 12px rgba(0,0,0,0.1);
}

.food-1, .food-2, .food-3 {
    width: 354px;
    height: 350px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 5%;
    text-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}

.food-1 p, .food-2 p, .food-3 p {
    margin: 0px;
    padding: 0px;
    font-size: 30px;
    color: #FFFFFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 40px;
}

.name p:nth-child(1) {
    font-weight: bold;
    font-size: 30px;
}

.second-row {
    display: flex;
}

.food-1 {
    background-image: url(../AussinOZ/images/food-1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.food-2 {
    background-image: url(../AussinOZ/images/food-2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.food-3 {
    background-image: url(../AussinOZ/images/food-3.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.price button {
    color: #FFFFFF;
    border: none;
    background-color: #ea272d;
    outline: none;
    width: 70px;
    height: 35px;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: scale(1.2);
    transition: all ease 0.5s;
}

.flavor, .breakfast {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0px;
    width: 540px;
    height: 180px;
    margin: 10px;
    background-color: #b1b1b1;
}

.third-row {
    display: flex;
}

.flavor {
    background-image: url(../AussinOZ/images/flavor.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.breakfast {
    background-image: url(../AussinOZ/images/breakfast.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.flavor p:nth-child(1), .breakfast p:nth-child(1) {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 40px;
}

.flavor p:nth-child(2), .breakfast p:nth-child(2) {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    text-align: center;
}

.flavor p, .breakfast p {
    margin: 0px;
    padding: 0px;
    line-height: 40px;
}
.footer{
    background-color: #0a0a0a;
    height: 150px;
}
.social ul{
    display: flex;
    gap: 14px;
    
}
.social img{
    height: 15px;
}
.social ul l a{
    padding: 15px;
}
.footer-menu ul li a{
    border-left: 3px solid #2e2e2e;
    color: rgba(255, 255, 255, 0.8);
    padding-left: 10px;
}
.navigation-content{
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin-top: 10px;
}
.copyright p{
    color: #b9b9b9;
}
.new,.search,.order,.food-1,.food-2,.food-3,.flavor,.breakfast{
    border-radius: 10px;
}

